.grey-background {
  background-color: #f2f2f2;
}

.nav-color {
  background-color: #f2a13f;
}

.font-caveat {
  font-family: Caveat, cursive;
}

.font-wellfleet {
  font-family: Wellfleet, cursive;
}

.main-img {
  object-fit: contain;
  width: 350px;
  height: 350px;
}

.search-bar {
  width: 100%;
  border: 2px #d4d9de;
  height: 1.5rem;
}

.submit-button {
  background-color: white;
  border: 2px #d4d9de;
}

.search-icon {
  color: #8a8a8e;
}

.nav-title {
  font-size: 2.3rem;
  margin: 1rem;
  text-decoration: none;
  color: black;
}

button:hover,
a:hover {
  cursor: pointer;
}

button:active {
  background-color: #eff7ef;
}

.white-box {
  background-color: white;
  padding: 0.7rem;
  margin: 0.3rem;
  width: 350px;
}

.font-bold {
  font-weight: 800;
}
